@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.basic-container-style {
    height: auto;
    border-bottom-right-radius: 15% 30%;
    border-top-right-radius: 15% 30%;
    border: 2px solid var(--white);
    border-left: none;
    min-width: 48%;
    /* padding-top: 1.5rem; */
    /* padding: 3% 0; */
    display: flex;
    flex-direction: column;
    flex: 1 1 45%; 
    margin: 1rem;

}

.basic-right-container-style {
    height: auto;
    border-bottom-left-radius: 15% 30%;
    border-top-left-radius: 15% 30%;
    border: 2px solid var(--white);
    border-right: none;
    min-width: 48%;
    /* padding: 3% 0; */
    flex: 1 1 45%; /* Flex-grow, flex-shrink, flex-basis */
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.height {
    height: 60vmin;
}


.basic-content-style {
    font-size: var(--about-page-font-size);
    font-family: var(--body-font-family);
    font-weight: 600;
    color: #E0E3F1;
    text-align: left;
    /* border: 1px solid red; */
    /* margin: 0;
    line-height: 1.5; */
    width: 90%;
    padding: 0 2rem;
}

.basic-right-content-style {
    font-size: var(--about-page-font-size);
    font-family: var(--body-font-family);
    font-weight: 600;
    color: #E0E3F1;
    text-align: left;
    /* border: 1px solid red; */
    /* margin: 0;
    line-height: 1.5; */
    width: 90%;
    padding: 0 7%;
    padding-left: 10%;

}

.basic-heading-style {
    height: auto;
    width: 100%;
    text-align: center;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    font-size: 2.8rem;
    color: var(--white);
}

.basic-heading-underline-style {
    background-color: #0FA3FF;
    width: 20%;
    height: 1rem;
}

.basic-right-heading-underline-style {
    background-color: #0FA3FF;
    width: 50%;
    height: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    margin-bottom: 1rem;
    left: -6%;
}

.globe_right,
.globe_left {
    height: 70vmin;
    width: 40%;
    position: relative;
    /* border: 1px solid red; */
}

.globe1 {
    object-fit: contain;
    object-position: right;
    width: 100%;
    height: 100%;
}

.globe2 {
    object-fit: contain;
    object-position: right;
    width: 100%;
    height: 100%;
    scale: 1.2;
    object-position: left;

}

.globe3 {
    object-fit: contain;
    object-position: right;
    width: 100%;
    height: 100%;
    scale: 1.3;
    object-position: right;
    transform: translate(15%, 7%)
}

.globe4 {
    object-fit: contain;
    object-position: right;
    width: 100%;
    height: 100%;
    scale: 1.1;
    object-position: left;
    transform: translateY(-8%);

}

.globe_blur_right {
    height: 15vmin;
    width: 40vmin;
    border-radius: 50%;
    background-color: #0FA3FF;
    filter: blur(100px);
    position: absolute;
    top: 40%;
    right: 5%;
    opacity: 1;
}

.globe_blur_right_2 {
    height: 15vmin;
    width: 50vmin;
    border-radius: 50%;
    background-color: #0FA3FF;
    filter: blur(100px);
    position: absolute;
    top: 40%;
    right: -1%;
    opacity: 1;
    /* border: 1px solid red; */

}


.globe_blur_left {
    height: 15vmin;
    width: 40vmin;
    border-radius: 50%;
    background-color: #0FA3FF;
    filter: blur(100px);
    position: absolute;
    top: 40%;
    right: 55%;
    opacity: 1;

}

.headings {
    width: 100%;
    height: 10vmin;
    padding: 5%;
    font-size: var(--font-size-large);
    font-family: var(--body-font-family);
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, #00F0FF 0%, #347499 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.pad-0 {
    padding: 0;
}

.about-container2,
.about-container3,
.about-container4,
.about-container5 {
    /* height: fit-content; */
    /* overflow: hidden; */
    margin: 6vmin 0 0 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




