*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== HERO SECTION ======= */

.hero-container{
    width: 100%;
    height: 87vmin;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======== KARE-ACM LOGO ========= */

.kare_acm_sc_logo{
    filter: brightness(1);
    filter: contrast(1.3);
    width: 28%;
    height: 65%;
    /* width: 420px;
    height: 400px; */

}

/* ======== BLUR EFFECT AROUND KARE-ACM-LOGO ====== */

.blur-effect{
    width: 490px;
    height: 300px;
    /* border: 1px solid red; */
    background-color: #074d75;
    border-radius: 50%;
    filter: blur(80px);
    position: absolute;
}

/* ======== MINI ICONS AROUND KARE-ACM-LOGO ======= */

.mini-circles{
    height: 2.187rem;
    width: 2.187rem;
    background-color: #686363;
    border-radius: 50%;
    position: absolute;
    filter: blur(0.4px);
    opacity: 0.8;
    color: white;
}

/* ======= SETTING POSITION OF THE MINI ICONS AROUND THE LOGO =========*/

.icon1{
    top: 45%;
    left: 22%;
}



.icon2{
    top: 25%;
    left: 37%;
}

.icon3{
    top: 18%;
    left: 43%;
    
}

.icon4{
    top: 30%;
    left: 41%;
    
}

.icon5{
    top: 24%;
    left: 60%;
    
}

.icon6{
    top: 30%;
    left: 76%;
    
    
}

.icon7{
    top: 38%;
    left: 67%;
    
}
.icon8{
    top: 47%;
    left: 72%;
    
}
.icon9{
    top: 57%;
    left: 73.5%;
    
}

.icon10{
    top: 65%;
    left: 66%;
    
}
.icon11{
    top: 77%;
    left: 63%;
    
}

.icon12{
    top: 89%;
    left: 52%;
    
}

.icon13{
    top: 80%;
    left: 38%;
    
}

.icon14{
    top: 63%;
    left: 35%;
    
}
.icon15{
    top: 58%;
    left: 28%;
}

/* ======== CREATED A SEPARATE CLASS ONLY FOR FLEX PROPERTY ======== */

.flx-justify-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

