.footer-container{
    width: 100%;
    height: 55vmin;
    /* background-color: blue;   */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5vmin;

}

.footer-logo{
    height: 20%;
    width: 17%;    
}

.acm-logo-footer{
    height: 100%;
    width: 100%;
}

.footer-logo-container{
    display: flex;
    gap: 3%;
    font-size: 1.3rem;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    background: linear-gradient(to right, #00F0FF 0%, #347499 60%) ; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    padding-left: 5%;
    
}
.footer-useful-links{
    height: auto;
    /* width: 40%; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding-top: 5% ;
}
.footer-useful-links-heading, .footer-contact-heading{
    font-size: 1.3rem;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    background: linear-gradient(to right, #00F0FF 0%, #347499 60%) ; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
}

.hr-line2{
    width: 100%;
    margin-top: 0.4rem;
}

.hr-line3{
    width: 90%;
}

.basic-font-styles{
    font-size: 1rem;
    font-family: var(--body-font-family);
    font-weight: 500;
    background: linear-gradient(to right, #00F0FF 0%, #347499 60%) ; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    line-height: 150%;

}
.basic-font-styles:hover{
    background: white ; 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    /* transition: all 0.5s ease-out; */
}

.footer-email-container, .footer-location-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5%;
    
}

.footer-email{
    color: var(--white);
    /* background-color: var(--white); */
    scale: 1.4;
}

.footer-location{
    color: var(--white);
    scale: 1.4;
}
.footer-location-address{
    text-align: left;
}

.footer-contact-heading{
    padding-top: 4% ;
    /* text-align: center; */
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-line4{
    width: 23%;
    margin-top: 0.4rem;
}
.footer-contact-container2{
    display: flex;
    flex-direction: column;
    /* height: 55vmin; */
    /* border: 1px solid red; */
    padding: 5%;
}